body {
	margin: 1;
}

::selection {
	background: #000000;
	color: #FFFFFF;
	text-shadow: none;
}

::-moz-selection {
	background: #000000;
	color: #FFFFFF;
	text-shadow: none;
}

::-webkit-selection {
	background: #000000;
	color: #FFFFFF;
	text-shadow: none;
}

@font-face {
	/* thanks to Joungkyun. cf. https://github.com/Joungkyun/font-d2coding/releases */
	font-family: D2Coding; 
	src: url('/font/D2Coding.woff') format('woff');
}

.border0 {
	border: 0px;
}

.border1 {
	border: 1px solid #000000;
}

.width100per {
	width: 100%;
}

.logo_plate {
	background-image: url('/image/logo/ddoc_small.gif');
	background-repeat: no-repeat;
	background-size: 70px;
	
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	
	margin-top: 30px;
	height: 30px;
	margin-bottom: 10px;
}

.main_plate {
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	
	padding-top: 10px;
	padding-bottom: 10px;
}

.mg2 {
	margin: 2px;
}

.mg4 {
	margin: 4px;
}

.mg5 {
	margin: 5px;
}

.mg10 {
	margin: 10px;
}

.font_big {
	font-family: D2Coding;
	font-size: 19px;
	line-height: 38px;
}

.font_middle {
	font-family: D2Coding;
	font-size: 16px;
	line-height: 32px;
}

.font_small {
	font-family: D2Coding;
	font-size: 13px;
	line-height: 26px;
}

/* .basic_area { */
/* 	border: 1px solid #DDDDDD; */
/* } */

.bd1 {
	border: 1px solid #DDDDDD;
}

.bdt {
	border-top: 1px solid #DDDDDD;
}

.bdb {
	border-bottom: 1px solid #DDDDDD;
}

.bdl {
	border-left: 1px solid #DDDDDD;
}

.bdr {
	border-right: 1px solid #DDDDDD;
}

/* .cut_line { */
/* 	border-bottom: 1px dashed #DDDDDD; */
/* 	height: 1px; */
/* } */

.button_plate {
	width: 100%;
	border: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

.basic_button {
	cursor: pointer;
	background-color: #DDDDDD;
	border: 1px solid #DDDDDD;
}


.hidden {
	display: none;
}